li {
    border: black 8px solid;
    background-color: red;
    color: red;
    width: 100px;
}
h2 {
    font-size: 25px;
    text-decoration: underline;
}
p {
   background: linear-gradient(#eee, #333);
   background-clip: text;
   color: transparent;
}